* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: linear-gradient(to right, #fff6ae, #ffb4ee);
}

header {
  background-color: #fa8072;
  color: black;
  padding: 15px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 140px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}
.image {
  height: 40px;
  width: 40px;
  background-color: #fa8072;
  mix-blend-mode: color-burn;
  margin-right: 140px;
  justify-content: center;
  text-align: center;
}

.menu ul {
  list-style: none;
  display: flex;
}
.menu li {
  margin-right: 20px;
}

.menu a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }

  .image {
    text-align: center;
  }

  .menu-mobile {
    display: block;
    text-align: center;
    margin-top: 10px;
  }

  .menu-mobile a {
    display: block;
    margin-bottom: 10px;
  }
}

.main-section {
  display: flex;
  justify-content: space-between;
}

.left-column {
  flex: 1;
  padding-right: 20px;
}

.right-column {
  flex: 1;
}

h1 {
  font-size: 60px;
  margin: 60px 90px;
}

p {
  font-size: 16px;
  margin: 60px 90px;
}

.btn {
  padding: 10px 20px;
  width: 30%;
  font-size: 16px;
  background-color: #fa8072;
  color: #fff;
  margin: 10px 90px;
  border: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: 630px;
  display: block;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 90px;
}

.left-column {
  display: flex;
  flex-direction: column;
}

.left-column img {
  width: 250px;
  height: 250px;
  margin: 30px 90px;
}
.right-column {
  max-width: 50%;
}

h2 {
  font-size: 60px;
  margin: 85px 90px;
}

.arrow-button {
  height: 20px;
  width: 20px;
  mix-blend-mode: color-burn;
}
span {
  font-size: 16px;
  margin: 85px 90px;
}

.leftSide-image {
  justify-content: space-between;
  background-image: linear-gradient(to right, #fff6ae, #ffb4ee);
  align-items: center;
  text-align: center;
  height: 8%;
  padding: 35px;
}

.left-image {
  max-width: 40%;
  height: 80%;
  display: flex;
  flex-direction: row;
  padding: 35px;
  transition: transform 0.3s ease-in-out;
  margin-left: 10px;
}
.row-image img {
  width: 88%;
  height: 31%;
  margin-bottom: 24px;
}

.vertical-image img {
  width: 99%;
  height: 65%;
}
